*{
    margin: 0;
}
body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.banner {
    height: 80px;
    background-color: rgb(143, 62, 197);
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.cpu-util-graph-title{
    border-bottom: 1px solid rgb(216, 216, 216);
}
.log-title{
    border-bottom: 1px solid rgb(216, 216, 216);
  }
.stats-title{
    border-bottom: 1px solid rgb(216, 216, 216);
}

h3{
    font-size: 1.75rem;
    border-bottom: rgb(216, 216, 216);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.cpu-util-graph-row {
    border-radius: 5px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: initial;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-bottom-color: initial;
    border-left-color: rgb(216, 216, 216);
    border-image: initial;
    max-height: 20px;
}

.cpu-util-graph {
    padding-left: 20px;
    padding-right: 20px;
}

.log ul {
    padding-left: 20px;
    padding-top: 10px;
}
.log li.recover {
    color: #B5C689;
    font-weight: bold;
}
.log li.alarm {
    color: #CD594A;
    font-weight: bold;
}

.btn:enabled {
    background-color: rgb(143, 62, 197); 
    border: none; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
  }
  .btn:disabled {
    background-color: rgba(143, 62, 197, 0.5); 
    border: none; 
    color: white; 
    font-size: 16px; 
    cursor: not-allowed; 
  }
  .btn:hover:enabled {
    background-color: rgb(115, 34, 169);
    color: white;
  }